<!-- notes -->
<p><strong>FAVORITE LESSONS</strong></p>
<ul>
    <li><a href="https://minimalchanges.com/buy-in/">Implement Buy In Activities</a></li>
    <li><a href="https://minimalchanges.com/master-job/">The True Job of A Master</a></li>
    <li><a href="https://minimalchanges.com/impossible-easy/">Impossible means several easy tasks.</li>
    <li><a href="https://minimalchanges.com/work-quietly/">Work Quietly - Only Announce When You're Done</a></li>
    <li>Problems Mean Tasks</li>
    <li><a href="https://minimalchanges.com/resistance/">What to do when you're not cooperating</a></li>
</ul>
<p>Feel free to explore.</p>