<!-- notes -->
<p><strong>FAVORITE LESSONS</strong></p>
<p><a href="https://minimalchanges.com/buy-in/">Implement buy-in activities</a></p>
<p><a href="https://minimalchanges.com/master-job/">The true job of a master</a></p>
<p><a href="https://minimalchanges.com/impossible-easy/">Impossible means several easy tasks.</p>
<p><a href="https://minimalchanges.com/work-quietly/">Work Quietly - Only Announce when you're done</a></p>
<p><a href="https://minimalchanges.com/problem-tasks/">Problems mean tasks</a></p>
<p><a href="https://minimalchanges.com/resistance/">What to do when you're not cooperating</a></p>