<!-- notes -->
<p><strong>FAVORITE LESSONS</strong></p>
<p><a href="https://minimalchanges.com/buy-in/">Implement Buy In Activities</a></p>
<p><a href="https://minimalchanges.com/master-job/">The True Job of A Master</a></p>
<p><a href="https://minimalchanges.com/impossible-easy/">Impossible means several easy tasks.</p>
<p><a href="https://minimalchanges.com/work-quietly/">Work Quietly - Only Announce When You're Done</a></p>
<p>Problems Mean Tasks</p>
<p><a href="https://minimalchanges.com/resistance/">What to do when you're not cooperating</a></p>
<p>Feel free to explore.</p>