<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
<p>Thank you for reading.</p> 
  <p>If you have a question or would like to say anything please leave a comment.</p>
  <p><a href="http://eepurl.com/oCUar">Stay in touch with me by joining my personal mailing list.</a> </p>
    {% include footer.html %}

  </body>

</html>
