---
layout: default
---

<div class="home">
  <h1 class="page-heading">Instructions</h1>
  <p></p>
  <ul>
    <li>Focus on doing today well.</li>
    <li>Keep your area clean.</li>
    <li>Keep your mind sharp through your body.</li>
    <li>Dismantle problems on paper.</li>
  </ul>
  <h1 class="page-heading">Topics</h1>
  <p></p>
  <ul>
    <li>Minimalist Lifestyle</li>
    <li>Lifestyle Experiments</li>
    <li>Tools and Tactics</li>
  </ul>
   <h1 class="page-heading">Favorite Lessons</h1>
  <p></p>
  <ul>
    <li><a href="https://minimalchanges.com/buy-in/">Implement Buy In Activities</a></li>
    <li><a href="https://minimalchanges.com/master-job/">The True Job of A Master</a></li>
    <li><a href="https://minimalchanges.com/impossible-easy/">Impossible means several easy tasks.</li>
    <li><a href="https://minimalchanges.com/work-quietly/">Work Quietly - Only Announce When You're Done</a></li>
    <li>Problems Mean Tasks</li>
    <li><a href="https://minimalchanges.com/resistance/">What to do when you're not cooperating.</a></li>
  </ul> 
  <h1 class="page-heading">Articles</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
