---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
      {{ content }}
      <br>
      <p>Thank you for reading.</p> 
    <p>Got a question or want to share something? <a href="https://minimalchanges.com/contact">Email me</a>.</p>
<p>Want updates? <a href="https://sendfox.com/kevinolega">Join my mailing list</a>. Let's connect.</p>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- End of blogpost -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6959391664103199"
     data-ad-slot="5668688032"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
  <p><iframe src="https://duckduckgo.com/search.html?site=minimalchanges.com&prefill=Search minimal changes" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe></p>
</div>
                                
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
        
  {% endif %}
</article>
